.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-position: center center;
  background-size: cover;
  filter: brightness(0.8);
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.container__title {
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px 4px #7700ff; 
  filter: drop-shadow(1px 1px 5px #7700ff);
  font-size: 3rem;
}

.container__phrase {
  width: 100%;
  max-width: 30em;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 1.5em 2em;
  line-height: 1.4;
  border-radius: 0.7em;
}

.container__btn {
  padding: 0.8em 1.2em;
  border-radius: 0.7em;
  font-size: 1.2rem;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 200ms ease, 
              transform 200ms ease, 
              box-shadow 200ms ease;
}

.container__btn:hover {
  opacity: 1;
  transform: scale(1.05);
  box-shadow: 0 0 1em #700074;
  filter: drop-shadow(0 0 1em #ff00ea);
  
}
